
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#a3d869;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:30px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.speichernbutton {
    position: absolute;
    left: 67.5%;
    top: 10%;
    display: inline-block;
    cursor: none;	
    text-decoration: none;
    text-align:center;
	font: 10vh Arial, sans-serif;
    padding: 7% 0% 10% 0%;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: black;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 2px black;
    background-color: #ff802c;
    color: #fff5f3;
    width: 30%;
    height:35%;
}

.zurückbuttoneinstellungen {
    position: absolute;
    left: 67.5%;
    top: 55%;
    display: inline-block;
    cursor: none;	
    text-decoration: none;
    text-align:center;
	font: 10vh Arial, sans-serif;
    padding: 7% 0% 10% 0%;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: black;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 2px black;
    background-color: #ff802c;
    color: #fff5f3;
    width: 30%;
    height:35%;
}
.kartenset{
    position: absolute;
    color: #fff5f3;
    left: 2.5%;
    top: 25%;
    font: 10vh Arial, sans-serif;
}

.geste{
    position: absolute;
    color: #fff5f3;
    left: 2.5%;
    top: 45%;
    font: 10vh Arial, sans-serif;
	
}

.speicherstand{
    position: absolute;
    color: #fff5f3;
    left: 2.5%;
    top: 65%;
    font: 10vh Arial, sans-serif;
}

.sprache{
    position: absolute;
    color: #fff5f3;
    left: 2.5%;
    top: 80%;
    font: 10vh Arial, sans-serif;
}

/* Dropdown Button */
.dropbtn {
    background-color: #fff5f3;
    color: #ff802c;
	position: absolute;
    left: 40%;
    top: 25%;
    height: 10%;
    width: 22.5%;
    font: 6vh Arial, sans-serif;
    cursor: pointer;
}

.dropbtn2 {
    background-color: #CCCCCC;
    color: #ff802c;
	position: absolute;
    left: 40%;
    top: 45%;
    height: 10%;
    width: 22.5%;
    font: 6vh Arial, sans-serif;
    cursor: pointer;
}

.dropbtn3 {
    background-color: #fff5f3;
    color: #ff802c;
	position: absolute;
    left: 40%;
    top: 65%;
    height: 10%;
    width: 22.5%;
    font: 6vh Arial, sans-serif;
    cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #fff5f3;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 30%;
    height: 15%;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.einstellungen{
	text-decoration: none;
    position: absolute;
	text-align:center;
	left: 20%;
	top: 5%;
    font: 10vh Arial, sans-serif;
    color: #fff5f3;
	text-shadow: 2px 2px 2px black;
}